*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: #004d99;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
}

.spinner::after {
  content: "";
  width: 70px;
  height: 70px;
  border: 10px solid #ccc;
  border-radius: 100vmax;
  border-top-color: #ff8800;
  animation: spin 1200ms ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
